<app-bread-crumb [items]="[{label: 'Empresas'}]"></app-bread-crumb>

<div class="margin">
  <div class="p-col-12 p-md-12 p-lg-12">
    <app-page-header
      page-title="Empresas"
      button-text="+"
      button-class="btn-success"
      (click)="showEmpresasModalNew($event)" >
    </app-page-header>
  </div>

  <div class="p-grid ui-fluid">
    <div class="p-col-12 p-md-12 p-lg-12">
      <p-table #tabela [responsive]="true" [paginator]="false" [lazy]="true" [autoLayout]="true" [value]="resources">
        <ng-template pTemplate="header">
          <tr>
            <th class="blue-bg col-120px">Id</th>
            <th class="blue-bg">Tipo Vinculo</th>
            <th class="blue-bg">Empresa</th>
            <th class="blue-bg">Documento</th>
            <th rowspan="2" style="text-align: center;" class="blue-bg">Ações</th>
          </tr>
        </ng-template>

        <ng-template pTemplate="body" let-empresas>
          <tr>
            <td class="col-120px">
              {{empresas.id}}
            </td>
            <td>
              {{empresas.tiposVinculosEmpresas.descricao}}
            </td>
            <td>
              {{empresas.pessoasEmpresas.nome}}
            </td>

            <td>
              <span *ngIf="empresas.pessoasEmpresas.fisicaJuridica === 'J'">
                {{empresas.pessoasEmpresas.dadosPjGeral.cnpj | cnpj}}
              </span>
              <!--<span *ngIf="empresas.pessoasPessoas.fisicaJuridica === 'F'">
                {{empresas.pessoasEmpresas.dadosPfGeral.cpf | cpf}}
              </span> -->
            </td>

            <td class="col-acoes">
              <button
                pButton
                type="button"
                (click)="showEmpresasModalEdit(empresas.id)"
                icon="pi pi-pencil"
                style="margin-right:9px;">
              </button>

              <button
                pButton
                type="button"
                (click)="showEmpresasModalDelete(empresas.id)"
                icon="pi pi-trash"
                class="ui-button-danger">
              </button>

          </tr>
        </ng-template>
      </p-table>
    </div>
  </div>
</div>
