<!-- CTRL + SHIFT + F for pretty --><app-bread-crumb [items]="[{label: 'Profissoes', routerLink:'/profissoes'}, {label: pageTitle}]"></app-bread-crumb>

<div class="margin">

  <p-panel header="Preencha o Formulario:">

    <form [formGroup]="resourceForm" (submit)="submitForm()" >

      <div class="p-grid ui-fluid" style="margin-top: 5px;">

        <div class="p-col-12 p-md-6 p-lg-6">
            <label for="nome" >Nome</label>
            <input id="nome" type="text" size="40" pInputText formControlName="nome">
            <app-form-field-error [form-control]="resourceForm.get('nome')" header-colum="Nome"></app-form-field-error>
        </div>

      </div>

      <div class="p-grid ui-fluid" style="margin-top: 5px;">

          <div class="p-col-12 p-md-2 p-lg-2">
              <button pButton type="button" label="Voltar" routerLink="/profissoes"  class="ui-button-danger"></button>
            </div>

          <div class="p-col-12 p-md-2 p-lg-2">
            <button pButton type="button" [disabled]="submittingForm || resourceForm.invalid" type="submit"
            icon="pi pi-check" label="Salvar" class="ui-button-success"></button>
          </div>

      </div>

    </form>
  </p-panel>
</div>
