<!-- CTRL + SHIFT + F for pretty -->

<app-bread-crumb [items]="[{label: 'Consulta Pessoas'}]"></app-bread-crumb>

<div class="margin">

  <div class="p-grid ui-fluid">
    <div class="p-col-12 p-md-12 p-lg-12">
      <p-table #tabela [loading]="loading" [responsive]="true" [value]="resources" [paginator]="true"
        [rows]="filtro.itensPorPagina" [lazy]="true" [totalRecords]="filtro.totalRegistros"
        (onLazyLoad)="aoMudarPagina($event)" [autoLayout]="true">

        <ng-template pTemplate="header">
          <tr>
            <th class="blue-bg col-120px">Id</th>
            <th class="blue-bg">Nome</th>
            <th class="blue-bg">CPF/CNPJ</th>
            <th rowspan="2" style="text-align: center;" class="blue-bg col-120px">Situação</th>
            <th rowspan="2" style="text-align: center;" class="blue-bg">Ações</th>
          </tr>

          <tr>
            <th class="ui-fluid col-120px">
              <input pInputText type="text" name="id" (input)="tabela.filter($event.target.value, 'id', 'equals')" >
          </th>

          <th class="ui-fluid">
              <input pInputText type="text" name="nome" (input)="tabela.filter($event.target.value, 'nome', 'equals')" >
          </th>

          <th class="ui-fluid">
              <input pInputText type="text" name="cpfCnpj" (input)="tabela.filter($event.target.value, 'cpfCnpj', 'equals')" >
          </th>

          </tr>
        </ng-template>

        <ng-template pTemplate="body" let-pessoas>
          <tr>
            <td class="col-120px">
              {{pessoas.id}}
            </td>

            <td>
              {{pessoas.nome}}
            </td>

            <td>
              <span *ngIf="pessoas.fisicaJuridica === 'F'">
                {{pessoas.dadosPfGeral.cpf | cpf}}
              </span>
              <span *ngIf="pessoas.fisicaJuridica === 'J'">
                {{pessoas.dadosPjGeral.cnpj | cnpj}}
              </span>
            </td>

            <td class="col-120px">
              {{pessoas.situacoes.descricao}}
            </td>

            <td class="col-acoes">
              <button pButton type="button" [routerLink]="[pessoas.id, 'edit']" icon="pi pi-pencil"
                style="margin-right:9px;"></button>

                <!--<button pButton
                type="button"
                (click)="editarPessoa(pessoas.id)"
                icon="pi pi-pencil"
                style="margin-right:9px;">
              </button> -->

            </td>

          </tr>
        </ng-template>

        <ng-template pTemplate="emptymessage">

          <tr>

            <td colspan="6">
              Nenhum registro cadastrado!
            </td>

          </tr>

        </ng-template>

      </p-table>
    </div>
  </div>
</div>
